{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Volunteer Web App - Donations</title>
    <link rel="icon" href="{% static 'img/logo.png' %}" type="image/icon type">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" href="{% static 'css/events.css' %}">
    <style>
        #navbar li a i {
            font-size: 1.8em;
            color: #fff;
            margin-left: 10px;
        }
    </style>
</head>
<body>

    <section id="header">
        <a href="{% url 'home' %}"><img src="{% static 'img/logo-h.png' %}" class="logo" alt=""></a>
        <div>
            <ul id="navbar">
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'opportunityvolunteer' %}">Find Organizations</a></li>
                <li><a href="{% url 'events' %}">Events</a></li>
                <li><a class="active" href="{% url 'donations' %}">Donate</a></li>
                <li><a href="{% url 'profile' %}"><i class="fas fa-user"></i> </a></li>
            </ul>
        </div>
    </section>

    <section id="banner" class="section-m1">
        <div class="banner-content">
            <h4>Current Donations</h4>
        </div>
        <p style="text-align: center; font-weight: 500; font-size: 12px;">Click on a donation to view more details and contribute!</p>
    </section>

    <section id="events" class="section-p1">
        <div class="event-container">
            {% for donation in donations %}
            <div class="event">
                <h4>{{ donation.name }}</h4>
                <img src="{{ donation.image.url }}" alt="{{ donation.name }}">
                <div class="event-desc">
                    <h5>Description: {{ donation.description }}</h5>
                    <h5>Goal: {{ donation.goal }} Ksh</h5>
                    <h5>Funds Raised:{{ donation.funds_raised }} Ksh</h5>
                    <h5>Supporters: {{ donation.supporters }}</h5>
                    <h5>Deadline: {{ donation.deadline|date:"j F Y" }}</h5>
                    {% if donation.organization %}
                    <h5>Organization: {{ donation.organization.name }}</h5>
                    {% endif %}
                    {% if donation.event %}
                    <h5>Event: {{ donation.event.name }}</h5>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>
    </section>

</body>
</html>
