{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Volunteer Web App</title>
    <link rel="icon" href="{% static 'img/logo.png' %}" type="image/icon type">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" href="{% static 'css/events.css' %}">
</head>
<body>

    <section id="header">
        <a href="{% url 'home' %}"><img src="{% static 'img/logo-h.png' %}" class="logo" alt=""></a>
        <div>
            <ul id="navbar">
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'opportunityvolunteer' %}">Find Organizations</a></li>
                <li><a class="active" href="{% url 'events' %}">Events</a></li>
                <li><a href="{% url 'donations' %}">Donate</a></li>
                <li><a href="{% url 'profile' %}"><i class="fas fa-user"></i> </a></li>
            </ul>
        </div>
    </section>

    <section id="banner" class="section-m1">
        <div class="banner-content">
            <h4 style="color: black; background-color: rgb(253, 245, 245); height: 45px; text-align: center; width: 1200px">
                Current Events</h4>
        </div>
    </section>

    <section id="events" class="section-p1">
        <div class="event-container">
            {% for event in events %}
            <div class="event" onclick="showSignupModal('{{ event.id }}')">
                <h4>{{ event.name }}</h4>
                <img src="{{ event.image.url }}" alt="{{ event.name }}">
                <div class="event-desc">
                    <h5>Location: {{ event.location }}</h5>
                    <h5>Date: {{ event.date_time|date:"j F Y" }}</h5>
                    <h5>Time: {{ event.date_time|time:"h:i A" }}</h5>
                    {% if event.organization %}
                    <h5>Organization: {{ event.organization.name }}</h5>
                    {% endif %}
                    <p>{{ event.description }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>
    <!-- Signup modal -->
    <div id="signupModal" class="modal">
        <div class="modal-content">
            {% csrf_token %}
            <span class="close" onclick="closeSignupModal()">&times;</span>
            <h2>Sign Up for Event</h2>
            <p id="signupMessage">Do you want to sign up for this event?</p>
            <button class="signup-button" onclick="confirmSignup()">Sign Up</button>
            <!-- Hidden field to store event ID -->
            <input type="hidden" id="eventIdField">
        </div>
    </div>

    <!-- Confirmation dialog -->
    <div id="confirmationDialog" class="confirmation-dialog">
        <p class="confirmation-dialog-message">Are you sure you want to sign up for this event?</p>
        <div class="confirmation-buttons">
            <button id="confirmYes">Yes</button>
            <button id="confirmNo">No</button>
        </div>
    </div>
    <section id="contact" class="section-p1">
        <div class="contact-section">
            <h2>Get in Touch</h2>
            <p>We'd love to hear from you. Fill out the form below or reach out to us through social media.</p>
            <div class="contact-info">
                <div>
                    <h3>Email</h3>
                    <p>info@example.com</p>
                </div>
                <div>
                    <h3>Phone</h3>
                    <p>+1-555-555-5555</p>
                </div>
                <div>
                    <h3>Office</h3>
                    <p>123 Sample St, Sydney, NSW 2000 AU</p>
                </div>
            </div>
        </div>
    </section>

    <script src="{% static 'js/event.js' %}"></script>
</body>
</html>
