{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Volunteer Web App</title>
    <link rel="icon" href="{% static 'img/logo.png' %}" type="image/icon type">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" href="{% static 'css/events.css' %}">
</head>
<body>

    <section id="header">
        <a href="home.html"><img src="{% static 'img/logo-h.png' %}" class="logo" alt=""></a>
    <div>
        <ul id="navbar">
            <li><a href=" {% url 'home' %}">Home</a></li>
            <li><a href="{% url 'opportunityvolunteer' %}">Find Organizations</a></li>
            <li><a class="active" href="{% url 'events' %}">Events</a></li>
            <li><a href="{% url 'donations' %}">Donate</a></li>
            <li><a href="{% url 'contact' %}">Contact</a></li>
        </ul>
    </div>
    </section>

    <section id="banner" class="section-m1">
        <div class="banner-content">
            <h4 style="color: black; background-color: rgb(253, 245, 245); 
            height: 45px; text-align: center; width: 1200px">
                Current Events</h4>
        </div>
        
    <section id="product1" class="section-p1">
        
        <div class="pro-container">
            <div class="pro">
                <h4>Planting Trees<br> Day</h4>
                <img src="{% static 'img/pt.jpg' %}" alt="">
                <div class="desc">
                    <h5>Location: Nairobi, Karura Forest</h5>
                    <h5>Date: 20/8/2024</h5>
                    <h5>Time: 10:00 AM</h5>
                </div>
                
            </div>

            <div class="pro">
                <h4>Childrens Clothes Donation</h4>
                <img src="{% static 'img/cc.jpg' %}" alt="">
                <div class="desc">
                    <h5>Location: Nairobi, Zimmerman</h5>
                    <h5>Date: 14/9/2024</h5>
                    <h5>Time: 7:00 to 11:00 AM</h5>
                </div>
            </div>

            <div class="pro">
                <h4>USIU Frieda Brown's <br>Day</h4>
                <img src="{% static 'img/fb.jpg' %}" alt="">
                <div class="desc">
                    <h5>Location: Nairobi, Roysambu, USIU</h5>
                    <h5>Date: 02/9/2024</h5>
                    <h5>Time: 10:00 AM</h5>
                </div>
            </div>
                       
        </div>
    </section>

</section>

<section id="product1" class="section-p1">
        
    <div class="pro-container">
        <div class="pro">
            <h4>Planting Trees<br> Day</h4>
            <img src="{% static 'img/pt.jpg' %}" alt="">
            <div class="desc">
                <h5>Location: Nairobi, Karura Forest</h5>
                <h5>Date: 20/8/2024</h5>
                <h5>Time: 10:00 AM</h5>
            </div>
            
        </div>

        <div class="pro">
            <h4>Childrens Clothes Donation</h4>
            <img src="{% static 'img/cc.jpg' %}" alt="">
            <div class="desc">
                <h5>Location: Nairobi, Zimmerman</h5>
                <h5>Date: 14/9/2024</h5>
                <h5>Time: 7:00 to 11:00 AM</h5>
            </div>
        </div>

        <div class="pro">
            <h4>USIU Frieda Brown's <br>Day</h4>
            <img src="{% static 'img/fb.jpg' %}" alt="">
            <div class="desc">
                <h5>Location: Nairobi, Roysambu, USIU</h5>
                <h5>Date: 02/9/2024</h5>
                <h5>Time: 10:00 AM</h5>
            </div>
        </div>
                   
    </div>
</section>

<section id="product1" class="section-p1">
        
       <div class="contact-section">
        <h2>Get in Touch</h2>
        <p>We'd love to hear from you. Fill out the form below or reach out to us through social media.</p>
        <div class="contact-info">
            <div>
                <h3>Email</h3>
                <p>info@example.com</p>
            </div>
            <div>
                <h3>Phone</h3>
                <p>+1-555-555-5555</p>
            </div>
            <div>
                <h3>Office</h3>
                <p>123 Sample St, Sydney, NSW 2000 AU</p>
            </div>
</div>
</section>
    
    <script src="script.js"></script>
</body>
</html>