{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Volunteer Web App</title>
    <link rel="icon" href="{% static 'img/logo.png' %}" type="image/icon type">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
</head>
<body>

    <section id="header">
        <a href="{% url 'home' %}"><img src="{% static 'img/logo-h.png' %}" class="logo" alt=""></a>
        <div>
            <ul id="navbar">
                <li><a class="active" href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'opportunityvolunteer' %}">Find Organizations</a></li>
                <li><a href="{% url 'events' %}">Events</a></li>
                <li><a href="{% url 'donations' %}">Donate</a></li>
                <li><a href="{% url 'contact' %}">Contact</a></li>
            </ul>
        </div>
    </section>

    <section id="tagline">
        <h4>Discover</h4>
        <h1>Find Opportunities to <br>Volunteer and Give Back</h1>
        <p>Discover local volunteer opportunities that align with your passions and make a tangible impact in your community. With our user-friendly platform, you can easily search, browse, and filter through a wide range of volunteer roles and causes.</p>
        <a href="{% url 'opportunityvolunteer' %}"><button class="learn-more">Learn More</button></a>
    </section>

    <section id="banner" class="section-m1">
        <div class="banner-content">
            <h4>Find Volunteer Opportunities Near You</h4>
        </div>
    </section>
    
    <section id="feature" class="section-p1">
        <div class="fe-box">
            <a href="{% url 'organization_type' organization_type='Children Homes' %}">
                <img src="{% static 'img/ch.jpeg' %}" alt="Children Homes">
                <h6>Children Homes</h6>
            </a>
        </div>

        <div class="fe-box">
            <a href="{% url 'organization_type' organization_type='Hospitals & Clinics' %}">
                <img src="{% static 'img/hv.png' %}" alt="Hospitals & Clinics">
                <h6>Hospitals & Clinics</h6>
            </a>
        </div>

        <div class="fe-box">
            <a href="{% url 'organization_type' organization_type='Elderly Homes' %}">
                <img src="{% static 'img/eh.jpg' %}" alt="Elderly Homes">
                <h6>Elderly Homes</h6>
            </a>
        </div> 
    </section>
    <a href="{% url 'opportunityvolunteer' %}"><button class="volunteer-now">Volunteer Now!</button></a>

    <section id="product1" class="section-p1">
        <section id="banner" class="section-m1">
            <div class="banner-content">
                <h4>Current Events</h4>
            </div>
        </section>
        <div class="pro-container">
            <div class="pro">
                <h4>Planting Trees Day</h4>
                <img src="{% static 'img/pt.jpg' %}" alt="Planting Trees Day">
                <div class="desc">
                    <h5>Location: Nairobi, Karura Forest</h5>
                    <h5>Date: 20/8/2024</h5>
                    <h5>Time: 10:00 AM</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                </div>
                
            </div>

            <div class="pro">
                <h4>Children's Clothes Donation</h4>
                <img src="{% static 'img/cc.jpg' %}" alt="Children's Clothes Donation">
                <div class="desc">
                    <h5>Location: Nairobi, Zimmerman</h5>
                    <h5>Date: 14/9/2024</h5>
                    <h5>Time: 7:00 to 11:00 AM</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                </div>
            </div>

            <div class="pro">
                <h4>USIU Frieda Brown's Day</h4>
                <img src="{% static 'img/fb.jpg' %}" alt="USIU Frieda Brown's Day">
                <div class="desc">
                    <h5>Location: Nairobi, Roysambu, USIU</h5>
                    <h5>Date: 02/9/2024</h5>
                    <h5>Time: 10:00 AM</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                </div>
            </div>
                       
        </div>
    </section>
    <a href="{% url 'events' %}"><button class="volunteer-now">More Events</button></a>

    <section id="product1" class="section-p1">
        
            <div class="tracking-card">
                <h2>Tracking Hours</h2>
                <div class="clock-bg"></div>
                <div class="details-container">
                    <div class="details-box">
                        <h3>Volunteering Details</h3>
                        <p>Place: Nairobi, Utali Africa</p>
                        <p>Event: USIU Frieda Brown Day</p>
                        <p>Hours: 4 Hours</p>
                    </div>
                    <div class="details-box">
                        <h3>Volunteering Details</h3>
                        <p>Place: Nairobi Hospital</p>
                        <p>Event: Cleaning and caring for the elderly</p>
                        <p>Hours: 15 Hours</p>
                    </div>
                </div>
                <button class="update-btn">Update (Admin)</button>
            </div>
    
            <div class="contact-section">
                <h2>Get in Touch</h2>
                <p>We'd love to hear from you. Fill out the form below or reach out to us through social media.</p>
                <div class="contact-info">
                    <div>
                        <h3>Email</h3>
                        <p>info@example.com</p>
                    </div>
                    <div>
                        <h3>Phone</h3>
                        <p>+1-555-555-5555</p>
                    </div>
                    <div>
                        <h3>Office</h3>
                        <p>123 Sample St, Sydney, NSW 2000 AU</p>
                    </div>
                </div>
            </div>
    
    <script src="script.js"></script>
</body>
</html>
