<!-- login.html -->
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Volunteer Sign In</title>
    <link rel="icon" href="{% static 'img/logo.png' %}" type="image/icon type">
    <link rel="stylesheet" href="{% static 'css/sign-in.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body>
    <div class="container">
        <div class="left-panel">
            <h1>Let's Help you Volunteer <br>and Make a Change!</h1>
            <a href="home.html"><button class="learn-more">Learn More</button></a>
            <div class="footer">
                <a href="#">Terms of Use</a>
                <a href="#">Privacy</a>
                <a href="#">Help</a>
                <a href="#">Cookie preferences</a>
            </div>
        </div>
        <div class="right-panel">
            
            <form class="signin-form" method="POST" action="{% url 'login' %}">
                {% csrf_token %}
                <h2>Log In and continue your journey today</h2>
                {% if error_message %}
                    <p class="error-message">{{ error_message }}</p>
                {% endif %}
                <div class="input-group">
                    <i class="fas fa-user"></i>
                    <input type="text" name="username" placeholder="ENTER USERNAME" required>
                </div>
                <div class="input-group">
                    <i class="fas fa-lock"></i>
                    <input type="password" name="password" placeholder="ENTER PASSWORD" required>
                </div>
                <button type="submit" class="sign-in">Sign In</button>
            </form>
            <a href="{% url 'register' %}" class="index">I don't have an Account?</a>
        </div>
    </div>
</body>
</html>
