{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
</head>
<body>
    <div class="container">
        <h1 class="profile-header">{{ user.username }}'s Profile</h1>
        <section class="user-info">
            <h2>User Information</h2>
            <p><strong>Username:</strong> {{ user.username }}</p>
            <p><strong>Email:</strong> {{ user.email }}</p>
        </section>

        <div class="events-info">
            <h2>Events Signed Up For</h2>
            {% if user_events %}
                <table>
                    <thead>
                        <tr>
                            <th>Event Name</th>
                            <th>Description</th>
                            <th>Location</th>
                            <th>Date and Time</th>
                            <th>Organization</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for user_event in user_events %}
                            <tr>
                                <td>{{ user_event.event.name }}</td>
                                <td>{{ user_event.event.description }}</td>
                                <td>{{ user_event.event.location }}</td>
                                <td>{{ user_event.event.date_time }}</td>
                                <td>{{ user_event.event.organization.name }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>No events found.</p>
            {% endif %}
        </div>

        <section class="volunteer-hours">
            <h2>Verified Volunteer Hours: {{ total_volunteer_hours }}</h2>
            {% if volunteer_hours %}
                <table>
                    <thead>
                        <tr>
                            <th>Organization</th>
                            <th>Hours</th>
                            <th>From</th>
                            <th>To</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for volunteer_hour in volunteer_hours %}
                            <tr>
                                <td>{{ volunteer_hour.organization.name }}</td>
                                <td>{{ volunteer_hour.hours }}</td>
                                <td>{{ volunteer_hour.date_from|date:"F j, Y, g:i a" }}</td>
                                <td>{{ volunteer_hour.date_to|date:"F j, Y, g:i a" }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>No verified volunteer hours recorded yet.</p>
            {% endif %}
        </section>

        <section class="events-info">
            <h2>Total Donations: Ksh {{ total_donated_amount }}</h2>
            {% if donations %}
                <table>
                    <thead>
                        <tr>
                            <th>Donation Cause</th>
                            <th>Amount (Ksh)</th>
                            <th>Latest Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for donation in donations %}
                        <tr>
                            <td>{{ donation.donation__name }}</td>
                            <td>{{ donation.total_amount }}</td>
                            <td>{{ donation.latest_date|date:"F j, Y, g:i a" }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>No donations made yet.</p>
            {% endif %}
        </section>
    </div>
</body>
</html>
