{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Volunteer Sign Up</title>
    <link rel="icon" href="logo.png" type="image/icon type">
    <link rel="stylesheet" href="{% static 'css/sign-in.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body>
    <div class="container">
        <div class="left-panel">
            <h1>Let's Help you Volunteer <br>and Make a Change!</h1>
            <a href="home.html"><button class="learn-more">Learn More</button></a>
            <div class="footer">
                <a href="#">Terms of Use</a>
                <a href="#">Privacy</a>
                <a href="#">Help</a>
                <a href="#">Cookie preferences</a>
            </div>
        </div>
        <div class="right-panel">
            
            <form class="signin-form">
                <h2>Sign In and continue your journey today</h2>
                <div class="input-group">
                    <i class="fas fa-user"></i>
                    <input type="text" placeholder="ENTER USERNAME" required>
                </div>
                <div class="input-group">
                    <i class="fas fa-lock"></i>
                    <input type="password" placeholder="ENTER PASSWORD" required>
                </div>
                <button type="submit" class="sign-in">Sign In</button>
            </form>
            <a href="index.html" class="index">I don't have an Account?</a>
        </div>
    </div>
    <script src="sign-in.js"></script>
</body>
</html>