{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Volunteer Web App</title>
    <link rel="icon" href="{% static 'img/logo.png' %}" type="image/icon type">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" href="{% static 'css/volunteerform.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <style>
        .modal-content {
            text-align: center;
            padding: 20px;
        }
        .modal-footer {
            justify-content: center;
        }
    </style>
</head>
<body>
    <section id="header">
        <a href="{% url 'home' %}"><img src="{% static 'img/logo-h.png' %}" class="logo" alt=""></a>
        <div>
            <ul id="navbar">
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a class="active" href="{% url 'opportunityvolunteer' %}">Find Organizations</a></li>
                <li><a href="{% url 'events' %}">Events</a></li>
                <li><a href="{% url 'donations' %}">Donate</a></li>
                <li><a href="{% url 'user_profile' %}"><i class="fas fa-user"></i></a></li>
            </ul>
        </div>
    </section>

    <form id="volunteerForm" method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="id_name">Name:</label>
            {{ form.name }}
        </div>
        <div class="form-group">
            <label for="id_email">Email:</label>
            {{ form.email }}
        </div>
        <div class="form-group">
            <label for="id_phone_number">Phone Number:</label>
            {{ form.phone_number }}
        </div>
        <div class="form-group">
            <label for="id_is_adult">Are you older than 18?</label>
            {{ form.is_adult }}
        </div>
        <div class="form-group">
            <label for="id_group_size">How many members are in your group?</label>
            {{ form.group_size }}
        </div>
        <div class="form-group">
            <label for="id_organization">Organization:</label>
            {{ form.organization }}
        </div>
        <div class="form-group">
            <label for="id_date_from">From:</label>
            {{ form.date_from }}
        </div>
        <div class="form-group">
            <label for="id_date_to">To:</label>
            {{ form.date_to }}
        </div>
        <input type="submit" value="Submit Form">
    </form>

    <!-- Modal -->
    <div class="modal fade" id="successModal" tabindex="-1" role="dialog" aria-labelledby="successModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    Thank you for volunteering! Your information has been submitted.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-dismiss="modal">OK</button>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="{% static 'js/volunteerform.js' %}"></script>
</body>
</html>
